<h1 align="center">
	<b>Profile</b>
</h1><hr>

<div align="center" >
	<div class="container well" id="profile_form">
		<div class="profile_image">
			<%= render 'profile_card' %>
		</div>
		<div id="profile_info" align="left">
	 		<%= label_tag "first name" %>:
			<%= current_user.first_name %><br>
			<%= label_tag "last name" %>:
			<%= current_user.last_name %> <br>
			<%= label_tag "Email" %>:
			<%= current_user.email %><br>	
			<%= label_tag "role" %>:
			<%= current_user.role %><br>
			<%= label_tag "Date of Birth" %>:
			<%= current_user.date_of_birth.strftime("%d-%B'%Y") if current_user.date_of_birth.present? %><br>
			<%= label_tag "Gender" %>:
			<%= current_user.gender %><br>
			<%= form_for :user ,url: "/home/profile" do |f| %>	
			    <%= label_tag "Profile Pic:" %><br />
			    <%= f.file_field :image %><br>
			    <div class="profile_image_upload">
			    </div><br>
		    <% end %>
		    <%= link_to "Edit Profile", edit_user_registration_path(current_user),class: "btn btn-primary" %><br><br>
		   <a href="/appointments">
		      <button type="button" class="btn btn-default btn-sm">
		          <span class="glyphicon glyphicon-fast-backward"></span> Back
		      </button>
		   </a>
		</div>
	</div>
</div>
 
