<p>
  <%= flash[:alert] unless flash[:alert].blank? %>
</p>
	<font class="profile_label"><b><%= label_tag "first name" %></b>:
			<%= current_user.first_name %><br>
	

	<font class="profile_label"><b><%= label_tag "last name" %></b>:
	<%= current_user.last_name %> <br>
	<font class="profile_label"><b><%= label_tag "Email" %></b>:
	<%= current_user.email %><br>	
	<font class="profile_label"><b><%= label_tag "role" %></b>:
		<%= current_user.role %><br>
	<font class="profile_label"><b><%= label_tag "Date of Birth" %></b>:
		<%= current_user.date_of_birth.strftime("%d-%B'%Y") %><br>
	<font class="profile_label"><b><%= label_tag "Gender" %></b>:
		<%= current_user.gender %><br>
	<font class="profile_label"><b>
	<%= form_for :user ,url: "/home/profile" do |f| %>	
    <%= label_tag "Profile Pic:" %></b><br />
    <%= f.file_field :image %>
    <div class="profile_image_upload"></div>
    <% end %>
  	<br>
		<br>
	<%= link_to "Edit Profile", edit_user_registration_path(current_user) %> | 	| <%= link_to "Back" ,"/appointments" %>

	</font>

	<% if current_user.image !=nil %>
	<% end %>

