<div class="card" align="left" style="width:220px;border-style:solid; ;border-width: thin;">
	<img class="img-rounded"   alt="Cinque Terre" src=
	<% if doctor.image.present? %>
	 	<%=	doctor.image.image_url.to_s %>
	<% end %> alt="Card image" style="width:100%">
	<div class="card-body">
  		<h3 class="card-title"><i><%= doctor.first_name %></i></h3>
  		<p class="card-text"><%= doctor.first_name %> is <%= doctor.doctor_profile.experience %> years experienced, <br>specialized as <%= doctor.doctor_profile.specialization %></p>
	</div>
</div> <br>	