<div>
<div  style="padding-left: 5px;">
	<%= form_for @appointment do |f| %>
	<input type="hidden" id="appointment_doctor_id" value=<%= @appointment.doctor.id%> >
		<h3 class="new_apppointment"> New Date: </h3>
		<%= f.date_select :date, :order => [:year, :month, :day], :start_year => 2018, :end_year => Time.now.year + 5  %><br><br>
<!-- 		<input type= "button" value = "Find Appointment" onclick="get_appointment_slot()">	
 -->	
 <% if @appointment.errors.any? %>
 <span style="color: red"><%= @appointment.errors.messages[:appointment][0] %> </span>
 <% end %>
 <br><br>
	<div class="slot_list">
		<div  class="slot_item">
			<% @slots.each do |slot| %>	
			<%= f.radio_button(:start_time,"#{slot}:00:00") %>					
				<%= label_tag(slot, "#{slot}:00 AM") %><br>
			<% end %>
		</div><br>
	</div>	
		<div class="field">
		<h3 class="new_apppointment"> Add Image: </h3>
	    	<%= f.file_field :image  %><br>
		</div><br>
		<%= f.submit "Change"%>
	<% end %>
</div>
</div>
<br>
<%= link_to "Back", "/appointments" %>