<%= render 'error' %>
<div align="center">
	<div align="left" style="width: 500px">
	<%= form_for @appointment do |f| %>
		New Date: 
			<%= f.date_select :date, start_year: 2018 %><br /><br>
		<div class="field">
			Add Image:
		    	<%= f.file_field :image  %><br>
		  	</div><br>
		<%= f.submit "Change"%>
	<% end %>
	</div>
</div>