
<div class="container">
<h1 align="center">
	<b>
		<% if current_user.doctor? %>
			 Patient's Appointments

		<% else %>
			<p class="h1"> Dcotor's Appointments</p>
			<div>
		   		<%= link_to 'Create a new Appointment ', new_appointment_path(current_user.doctor_appointments.build),class: "btn btn-primary" %>
			</div>
		<% end %><br><br>
		
		<hr>	
	</b>
</h1>
</div>
 	<% if @appointment_list.present? %>	
 	    	<% @appointment_list.each do |appointment| %><br/>
			<div class="well">
				<div class="row">
					<div class="col-md-1 col-sm-1">
			            <div class="profile_image">
			              	<% if current_user.patient? %>
			                	<%= render 'doctor', doctor: appointment.doctor %>
			                <% else %>
			                	<%= render 'patient', patient: appointment.patient %>	
			                <% end %>	 
			            </div>
			        </div>
			        <div class="col-md-11 col-sm-11">    
			            <div id="profile_info" align="left" class="appointment-information">
			                	<% if current_user.patient? %>
			                		<%= label_tag "Dcotor" %>:
								    <%= appointment.doctor.first_name %> 
					          	<% else %>
					          	   	<%= label_tag "Patient" %>:
					          		<%= appointment.patient.first_name %> 
					          	<% end %><br>

			                	<%= label_tag "Appointment Date" %>:
				                <%= appointment.date.strftime("%A,%d-%B'%Y") %><br> 
				                <b>From:</b> <%= appointment.start_time.strftime("%I:%M%p") %><br>
				                <b>To:</b>   <%= appointment.finish_time.strftime("%I:%M%p") %> <br>
				                <%= label_tag "Status" %>:
				                <%= appointment.status %><br>
				                <%= link_to 'Show', appointment%>&nbsp;

								<% if can? :update, appointment %>
						        	<%= link_to 'Edit', edit_appointment_path(appointment) %>&nbsp;
						        <% end %>
						        <% if can? :destroy, appointment %>	
					     			<%= link_to 'Delete', [appointment],:method => "delete" ,data: {confirm: "Are you sure?"},remote: true %><br>
					     		<% end %>	
						</div>
					</div>		
				</div>		
			</div>
</div>
		 	<% end %>
		</div>	 	
   	<% else %>
       <i>	There are no Appointments.</i>
   	<% end %>
  	<div class="pagination"> <%= will_paginate @appointment_list %> </div>
</div>



    <!-- Footer -->
    
