<%= render 'carousel' %>
<div>
	<% if can? :create, Appointment %>
		<div align="right">
		   <%= link_to 'Create a new Appointment ', new_appointment_path(current_user.doctor_appointments.build),class: "btn btn-primary" %>
		</div>
	<% end %>
<div>

<div class="heading" align="center">Appointment List</div>
</div>
	<font color="#005CB9" face="courier" size="3">
 	<% if @appointment_list.size !=0 %>	
 		<div class="panel-group">
 	    	<% @appointment_list.each do |appointments| %><br />
	 	        <div class="container" align="center">
			          <div class="panel panel-info" align="left">
				          	<div class="panel-heading"> 
					          	<%= appointments.doctor.first_name %> ---
						        <%= appointments.date.strftime("%A,%d-%B'%Y") %> 
					        </div>

				        	<div class="panel-body">
							    <div align="center">
							      	<%= link_to 'Show', appointments%>&nbsp;
										<% if can? :update, appointments %>
								        	<%= link_to 'Edit', edit_appointment_path(appointments) %>&nbsp;
								        <% end %>
								        <% if can? :destroy, appointments %>	
							     			<%= link_to 'Delete', [appointments],:method => "delete" ,data: {confirm: "Are you sure?"},remote: true %><br>
							     		<% end %>	
							    </div>   
						        <div align="left">
						        	Status: <%= appointments.status %><br>
						        	From: 	<%= appointments.start_time.strftime("%I:%M%p") %><br>
						        	To:   	<%= appointments.finish_time.strftime("%I:%M%p") %> <br>
						        </div> 
							</div>
			        	</div>
			 	</div>
		 	<% end %>
		</div>	 	
   	<% else %>
       <i>	There are no Appointments.</i>
   	<% end %>
  	</font>	  	
</div>

							       
