
<% if current_user.doctor? %>
<div style="padding-left: 250px;padding-right: 250px">
<h1 id="heading">Appointment List</h1>

  	<div class="list">
    <% @appointment_list.each do |appointments| %>
  	<br />
	        <div class="container" align="center" id="div<%=appointments.id%>" >
			        <div class="first_name" align="left"><%= appointments.patient.first_name %></div>
			        <div style="padding-left:50px ">
			            <%= appointments.date.strftime("%Y-%m-%d") %><br />
 					</div>			         	
 			        <%= link_to 'Show', [appointments]%>
 			        <%= link_to 'Delete', [appointments],:method => "delete" %><br>
 			        <div align="left">Status: <%= appointments.status %></div>
			       </tr>
	    	</div><br />
    <% end %>  
    </div> 

<%= link_to 'Recent Appointments', "appointments/recent" %>
</div>
<% else %>
<br />
<div align="right"><%= link_to 'Create a new Appointment ', new_appointment_path(current_user.doctor_appointments.build) %></div>
<div style="padding-left: 250px;padding-right: 250px">
 	<div class="list">
    <% @appointment_list.each do |appointments| %>
    	<br />
	        <div class="container" align="center">
	          <div class="first_name" align="left"> <%= appointments.doctor.first_name %></div>
		        <td><%= appointments.date.strftime("%Y-%m-%d") %></td>
		        <br />
		      	<%= link_to 'Show', appointments%>
		        <td><%= link_to 'Edit', edit_appointment_path(appointments) %></td>
		        <%= link_to 'Delete', [appointments],:method => "delete" %><br>
		        <div align="left">Status: <%= appointments.status %><br>
		        	<% begin %>
		        	From: <%= appointments.start_time.strftime("%I:%M%p") %><br>
		        	To:   <%= appointments.finish_time.strftime("%I:%M%p") %> <br>
		        	<% rescue %>
		        		<% puts "start time null for appointment id: #{appointments.id}" %>
		        	<% end %>	
		        </div>
		     </tr>
		 	</div>
   <% end %>

<% end %><br>
</div>
</div>
