
 <% if @appointment.errors.any? %>
	    <div id="error_explanation" >
	      <h2>
	        <%= pluralize(@appointment.errors.count, "error") %> prohibited
	        this article from being saved:
	      </h2>
	      <ul>
	        <% @appointment.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
 	 <% end %>
<div align="center">
<div align="center"  class="booking_slot" >
	
	<%= form_for  @appointment ,url: "/slots",remote: true do |f| %>
		<div >
			<%= f.label :doctor_name %>	
		</div>
		<%= f.collection_select :doctor_id, @doctors_list, :id, :first_name %><br/>
		<div ><br>
			<%= f.label :date %>		
		</div>
		<%= f.date_select :date, :order => [:year, :month, :day], :start_year => 2018, :end_year => Time.now.year + 5 %><br><br>
		<%= f.submit "Find Appointment" %>	
	<% end %><br><br>
 

	<%= form_for @appointment do |f| %>
	<div class="slot_list">
		<div align="center" class="slot_item">
			<% @slots.each do |slot| %>		
				<%= f.radio_button(:start_time,"#{slot}:00:00") %>					
				<%= label_tag(slot, "#{slot}:00 PM") %><br>
			<% end %>
		</div><br>
	</div>	
	<input type="hidden" name="appointment[date]" id="appointment_date" value=<%= Date.today%>>
	<input type="hidden" name="appointment[doctor_id]" id="doctor_id" value=<%= User.where(role: "doctor").first.id%> >
		<div >
			<%= f.label :cause %>
		</div>
		<%= f.text_area :note %><br />	
 		<div ><br><br>
 			Upload Image 
 		</div><br>
 		<div class="field">
		    <%= f.file_field :image %>
		 </div><br>
	 	<%= f.submit 'Create Appointment' %>

	<% end %>	
</div>
</div>