<div align="center">
	<h1><b>New Appointment</b></h1><hr>
	<div   align="left" class="center_div_form" style=" color: #; font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 200; line-height: 20px; margin: 0 0 16px;">
		<%= form_for @appointment  do |f| %>
			
			<%= f.label :doctor_name %>	<br>
			<%= f.collection_select :doctor_id, @doctors_list, :id, :first_name  %><br/><br>
			<%= f.label :date %>
			<div class="appointment_dates">
				<%= f.date_select :date, :order => [:year,:month, :day], :start_year => 2018, :end_year => Time.now.year + 5 ,default: Date.today+1,
					:class => "remove_slot_list" %>
			</div><br><br>
			<input type= "button" value = "Find Appointment" onclick="get_appointment_slot()" class= "btn btn-primary"><br><br>	

		 	<% if @appointment.errors.messages[:start_time].present? %>
				<span class="error_span"> <%= @appointment.errors.messages[:start_time][0] %> </span>
			<% end %>	
			<div class="slot_list">
				<div  class="slot_item">
					<%  @slots.each do |slot| %>	
						<div class=slot_item >
						  	<% if @appointment.start_time!=nil && @appointment.start_time.strftime("%H").to_i==slot %>
								<input type=radio value=<%= "#{slot}:00:00" %> name="appointment[start_time]"  checked="checked">  
								<%= slot %>:00 AM
							<% else %>
								<input type=radio value=<%= "#{slot}:00:00" %> name="appointment[start_time]">  
								<%= slot %>:00 AM
							<% end %>	
						</div><br>	
					<% end %>
				</div><br>
			</div>
	 		<%= f.label "Upload Image" %>	<br>	 		
			<%= f.file_field :image %><br>
			<%= f.label :cause %><br>
			<%= f.text_area :note,rows: 6,class: "form-control" %>
			<%if @appointment.errors.messages[:notes].present? %>
				<span class="error_span">Enter the cause </span>
			<% end %><br>	
	 		<div align="right">
		 		<%= f.submit 'Create Appointment', class: 'btn btn-primary' %>
		 	</div><br>	
		<% end %>
	</div>
</div>
<div >
    <a href="/appointments" class="btn btn-info btn-lg">
      	<span class="glyphicon glyphicon-step-backward"></span>Back
    </a>
</div><br>
 

