<h1 align="center">
  <b>
    <% if current_user.doctor? %>
       Recent Patient's Appointments
    <% else %>
       Recent Dcotor's Appointments
    <% end %>   
  </b><hr>
</h1> 

<% if @appointments.present? %>
      <% @appointments.each do |appointments| %><br />
          <div class="container well" align="center">
              <div class="profile_image">
                <% if current_user.patient? %>
                    <%= render 'doctor', doctor: appointments.doctor %>
                <% else %>
                    <%= render 'patient', patient: appointments.patient %>
                <% end %>       
              </div>
              <div id="profile_info" align="left" class="appointment-information">
                    <% if current_user.patient? %>
                      <%= label_tag "Dcotor" %>:
                      <%= appointments.doctor.first_name %> 
                    <% else %>
                      <%= label_tag "Patient" %>:
                      <%= appointments.patient.first_name %> 
                    <% end %><br>
                    <%= label_tag "Appointment Date" %>:
                    <%= appointments.date.strftime("%A,%d-%B'%Y") %><br> 
                    <b> From:</b> <%= appointments.start_time.strftime("%I:%M%p") %><br>
                    <b> To:</b>   <%= appointments.finish_time.strftime("%I:%M%p") %> <br>
                    <%= label_tag "Status" %>:
                    <%= appointments.status %><br>
                    <%= link_to 'More Information', appointments%>&nbsp;
              </div>
          </div>
      <% end %>
<% else %>
    <i> <br>There are no Passed appointments.</i>
<% end %> 
<div class="div_spaceing">
   <a href="/appointments">
      <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-fast-backward"></span> Back
      </button>
   </a>
</div>
<div class="pagination"> <%= will_paginate @appointment_list %> </div>