<h1 class="heading" align="center">Recent Appointments</h1>
<div >
    <a href="/appointments" class="btn btn-info btn-lg">
       <span class="glyphicon glyphicon-step-backward"></span>Back
    </a>
</div> 
<font color="#005CB9" face="courier" size="3" >
<% if @appointments.size !=0 %>
    <div class="panel-group">
      <% @appointments.each do |appointments| %><br />
          <div class="container" align="center">
              <div class="panel panel-info" align="left">
                  <div class="panel-heading"> 
                      <%= appointments.doctor.first_name %> ----
                      <%= appointments.date.strftime("%A,%d-%B'%Y") %> 
                  </div>
                  <div class="panel-body">
                      <div align="center">
                          <%= link_to t('show'), appointments%>&nbsp;
                      </div>   
                      <div align="left">Status: <%= t appointments.status %><br>
                        From: <%= appointments.start_time.strftime("%I:%M%p") %><br>
                        To:   <%= appointments.finish_time.strftime("%I:%M%p") %> <br>
                 
                      </div> 
                  </div>
              </div>
          </div>
      <% end %>
    </div>  
<% else %>
    <i> There are no Passed appointments.</i>
<% end %> 
</font>
   