<h2 class="new_apppointment" >Appointment information</h2>
<div>
  Doctor: <i><%= @appointment.doctor.first_name %></i><br>
  Date: <i><%= @appointment.date.strftime("%A,%d-%B'%Y") %></i><br>
  From: <%= @appointment.start_time.strftime("%H:%M") %> AM<br>
  To: <%= @appointment.finish_time.strftime("%H:%M") %> AM<br>
  Status: <%= @appointment.status %> <br>
</div>

<h3 class="new_apppointment" >Notes:</h3><br>
<div id="notes_list" class="panel-group">
    <% @notes.each_with_index do |note,index| %>
      <div align="left" class="panel panel-info" >
        <div class="panel-heading"> By: <%= note.user.first_name %> </div>
        <div class="panel-body"> <%= note.description %></div> </br>     
      </div><br>
    <% end %> 
</div>

<%= link_to "Add note",new_appointment_note_path(@appointment,@appointment.notes.build), remote: true,class: "btn btn-primary add_note_btn" %><br><br>


<div class="add_note">
    <%= form_for [@appointment,@note] ,remote: true do |f| %>
        <div class="note_form">
        </div>
    <% end %>
</div><br>

&nbsp<strong>Images:</strong><br><br>
<div class="div_spaceing">
    <% if @appointment.images.size==0 %>
      <span>There are no images</span><br><br>
    <% end %>
    <% @appointment.images.each do |i| %>
       <div class="images">
          <%= link_to image_tag(i.image_url(:thumb).to_s) ,"#{i.image_url.to_s}" , class: "fancybox" %>  
       </div>   
    <% end %>
</div>
 
<div>
    <a href="/appointments" class="btn btn-info btn-lg">
       <span class="glyphicon glyphicon-step-backward"></span>Back
    </a>
</div><br>    
