<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>Doctor patient</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
    <div align="center" class="flash_messages">
        <%= content_tag(:div, value, :class => "flash #{key}") %>      
    </div>
<% end %>

<% if user_signed_in? %><br><br>




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        
      </button>
      <a class="navbar-brand" >Hospital Management</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/appointments/recent">Archived</a></li>
    
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home/profile" style="font-size: 22px;"><b>Hello, </b><%=current_user.first_name %></a></li>
         <li><a href="/users/sign_out" data-method="delete" style="font-size: 22px;"><b>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>   
<% end %>

<%= yield %>

</html>
