<!DOCTYPE html>
<html>
<head>
  <title>Doctor patient</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <% flash.each do |key, value| %>
    <div align="center" style="color: green;font-size: 40px ;"><%= content_tag(:div, value, :class => "flash #{key}") %></div>
  <% end %>

<% if user_signed_in? %>
      <div>
         <div  style="width: 300px;float: left;"><h2>Hello, <i><%= current_user.first_name %></i> || <%= link_to "Profile" ,"/home/profile" %></h2>  

         </div>
        <div  style="width: 100px;float: right;"><h2><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></h2>
        </div>
      </div> 
      <br><br><br><br>
  <div align="left">  
       <%= image_tag(current_user.image.image_url.to_s,:height => '160px',class: "qq") %>
 </div> 
<% end %>

<%= yield %>

</body>
</html>
