<!DOCTYPE html>
<html>
<head>
    <title>Doctor patient</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
    <div align="center" class="flash_messages">
        <%= content_tag(:div, value, :class => "flash #{key}") %>      
    </div>
<% end %>

<% if user_signed_in? %><br><br>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >Hospital Management</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/appointments/recent">Archived</a></li>
    
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home/profile"><b>Hello, </b><%=current_user.first_name %></a></li>
         <li><a href="/users/sign_out"><b>Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <!--   <div class="header">
        <ul class="nav_bar nav nav-pills">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/home/profile">Profile</a></li>
            <li><a href="/appointments/recent">Archived</a></li>
        </ul>
        <div>
            <div class="welcome_greeting">
                <span class="hello_greeting">Hello, </span><span class="user_name"> 
                     <%= current_user.first_name %>
                </span> &emsp;
                <a href="/users/sign_out" class="btn btn-info btn-lg" data-method="delete">
                    <span class="glyphicon g/users/sign_outlyphicon-log-out"></span> Log out
                </a>
            </div>
        </div><br><br><br>
    </div> -->      
<% end %>

<%= yield %>

</html>
